body{
    background-color: #fcf9ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Young Serif", serif;
    color: #814747;
}

.block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    margin-top: 100px;
    overflow-x: hidden;
    gap: 50px;
}

.tittle{
    font-size: 50px;
    text-decoration:underline;
}

.input_date_css, .input_todo_css
{
    color: #814747;
    padding: 15px;
    padding-inline: 20px;
    /* font-size: 20px; */
}

.inputs_outputs
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todolist
{
    display: grid;
    grid-template-columns: 250px 150px 100px;
}