body{
    background-color: #445870;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Young Serif", serif;
    color: #d9dde2
    ;
}

.block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    margin-top: 100px;
    padding: 50px;
    /* height: 100%; */
    overflow-x: hidden;
    gap: 50px;
    background-color: #445870;
    box-shadow: 0px 0px 40px #ffffff49;
    /* border: 10px solid #dab39e; */
    border-radius: 50px;
}

.tittle{
    font-size: 50px;
    text-decoration:underline;
}

.input_date_css, .input_todo_css
{
    color: black;
    padding: 15px;
    padding-inline: 20px;
    /* font-size: 20px; */
}

.inputs_outputs
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .todolist */
/* { */
    /* display: grid; */
    /* grid-template-columns: 250px 150px 100px; */
    /* gap: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
/* } */

.inputs
{
    display: grid;
    grid-template-columns: 250px 200px 100px;
    /* flex-direction: row; */
    gap: 20px;
}

input{
    border: none;
    border-radius: 8px;
    background-color: #d9dde2;
}

input::placeholder
{
    color: black;
}

input:focus::placeholder
{
    color: transparent;
}

.button_add
{
    padding-inline: 50px;
    border: none;
    border-radius: 10px;
    background-color: #8e9aa9;
    font-size: large;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5;
    opacity: 1;
}

.button_add:hover
{
    opacity: 0.8;
}

.button_add:active{
    opacity: 0.6;
}

.todo-item
{
    display: grid;
    grid-template-columns: 250px 200px 100px;
    gap: 20px;
    margin-bottom: 10px;
}

.test
{
    word-wrap: break-word;
    max-width: 300px;
    padding: 5px;
}

.button_delete
{
    padding-inline: 24px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #8e9aa9;
    font-size: large;
    font-weight: bold;
    color: #fcf9ee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5;
    opacity: 1;
}

.button_delete:hover
{
    opacity: 0.8;
}

.button_delete:active{
    opacity: 0.6;
}